@import "tailwindcss";
@font-face {
  font-family: "VelaSans";
  src: url("../assets/fonts/VelaSans-GX.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Tailwind 4 theme extend */
@theme {
  --font-vela: "VelaSans";
  --text-main-13: 0.8125rem;
  --text-main-23: 1.4375rem;
  --text-main-40: 2.5rem;
  --text-main-25: 1.5625rem;
  --text-main-50: 3.125rem;
}

@layer base {
  .swiper-button-next,
  .swiper-button-prev {
    position: static !important;
    inset: auto !important;
    margin: 0 !important;

    /* KATTA HITBOXNI YO‘QOTADI */
    width: 36px !important;
    height: 36px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    max-width: 36px !important;
    max-height: 36px !important;
    padding: 0 !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    /* background: none !important; */
    border: none !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none !important;
  }
  html {
    @apply scroll-smooth;
  }

  button {
    @apply cursor-pointer;
  }

  p {
    @apply tracking-[1px];
  }

  .text-xs,
  .text-sm,
  .text-base,
  .text-lg,
  .text-xl,
  .text-2xl,
  .text-2xl,
  .text-3xl,
  .text-4xl,
  .text-5xl {
    @apply !leading-none;
  }
}
/* tailwind.css yoki globals.css ichiga qo‘yasan */
.custom-btn {
  @apply text-white font-semibold rounded-md px-10 py-[9px] border-0 h-[52px] w-[218px];
  background: linear-gradient(257.48deg, #fd8806 25.37%, #db3f2c 125.31%);
  box-shadow: 0px 0px 16.1px rgba(253, 136, 6, 0.51),
    inset 0px 4px 4px rgba(255, 255, 255, 0.13);
}
.card-gradient-border {
  position: relative;
}

.card-gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px;
  pointer-events: none;

  background: linear-gradient(
    156.15deg,
    rgba(254, 254, 254, 0.18) 5.68%,
    rgba(152, 152, 152, 0) 107.95%
  );

  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@layer utilities {
  .box-gradient-border {
    position: relative;
  }

  .box-gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 0.5px 1.2px;

    /* Gradient border */
    background: linear-gradient(
      156.15deg,
      rgba(254, 254, 254, 0.18) 5.68%,
      rgba(152, 152, 152, 0) 107.95%
    );

    /* Mask hack – radius ishlashi uchun */
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
    z-index: 999;
  }
}

@utility container-base {
  @apply w-full max-w-335 mx-auto px-3.75 md:px-6.25;
}

@utility hover-opacity-80 {
  @apply transition duration-200 hover:opacity-80;
}
@utility container-base {
  @apply w-full max-w-235 xl:max-w-340 mx-auto px-5;
}

@utility backdrop-filter {
  backdrop-filter: blur(40px);
}

.no-scroll::-webkit-scrollbar {
  @apply !size-0;
}
